<div class="menuLogs">
    <div class="regLogContent">
        <div class="exit">
            <a routerLink="../"><img src="content/images/exit.png" class="exitLink"></a>
        </div>
        <div class="bodyForm">
            <form #formTemplate="ngForm" (ngSubmit)="login()">
                <div *ngIf="emailInput.errors">
                    <small>Email is incorrect. Maybe example@domain.com ?</small>
                </div>
                <div class="materialInput">
                    <input placeholder="Email" pattern="\w+@\w+(\.\w+)*"
                           [(ngModel)]="user.Email" name="email"
                           [class.red]="emailInput.errors" [class.lighten-5]="emailInput.errors"
                           #emailInput="ngModel" type="text">
                </div>
                <div *ngIf="passInput.errors">
                    <small>Password not valid. Digits and chars with length [6..25]</small>
                </div>
                <div class="materialInput">
                    <input placeholder="Password" type="password"
                           pattern="[\w\d]{6,25}"
                           [class.red]="passInput.errors" [class.lighten-5]="passInput.errors"
                           #passInput="ngModel" [(ngModel)]="user.Password" name="password">
                </div>


                <input type="image" src="content/images/logInL.png"
                       class="submitButton">
            </form>
        </div>
    </div>
</div>