<div class="menuLogs">
    <div class="regLogContent">
        <div class="exit">
            <a routerLink="../"><img src="content/images/exit.png" class="exitLink"></a>
        </div>
        <div class="bodyForm">
            <form #formTemplate="ngForm">
                <div *ngIf="name.errors">
                    <small>Name must consist from 1 to 35 elements</small>
                </div>
                <div class="materialInput">
                    <input placeholder="Name" pattern="[\s\w]{1,35}"
                           [(ngModel)]="user.Name" #name="ngModel"
                           [class.red]="name.errors" [class.lighten-5]="name.errors"
                           name="name" type="text">
                </div>

                <div *ngIf="emailInput.errors || emailInput.maxLength">
                    <small>Email's not valid. Must be < 35 chars. What about example@email.com?</small>
                </div>
                <div class="materialInput">
                    <input placeholder="Email" pattern="\w+@\w+(\.\w+)*" maxlength="35"
                           [(ngModel)]="user.Email" #emailInput="ngModel"
                           [class.red]="emailInput.errors" [class.lighten-5]="emailInput.errors"
                           name="email" type="text">
                </div>

                <div *ngIf="passInput.errors">
                    <small>Password not valid. Digits and chars with length [6..25]</small>
                </div>
                <div class="materialInput">
                    <input placeholder="Password" pattern="[\w\d]{6,25}"
                           #passInput="ngModel" [(ngModel)]="user.Password"
                           [class.red]="passInput.errors" [class.lighten-5]="passInput.errors"
                           name="password" type="password">
                </div>
                <div *ngIf="!(passInput.value===confirmInput.value)">
                    <small>Passwords do not match</small>
                </div>
                <div class="materialInput">
                    <input placeholder="Confirm Password" #confirmInput="ngModel" [(ngModel)]="confirmPass"
                           [class.red]="!(passInput.value===confirmInput.value)"
                           [class.lighten-5]="!(passInput.value===confirmInput.value)"
                           name="confirmPass" type="password">
                </div>
                <input type="image" src="content/images/signUpR.png"
                       (click)="register(); submitted = true;"
                       [disabled]="!formTemplate.valid || !(passInput.value===confirmInput.value) || formTemplate.pristine"
                       [class.disabled]="!formTemplate.valid || !(passInput.value===confirmInput.value)
                        || formTemplate.pristine || emailInput.maxLength"
                       class="submitButton">
                <loader [predicate]="submitted"></loader>
            </form>
        </div>
    </div>
</div>