<div class="center-align">
    <loader [predicate]="loadingPosts"></loader>
</div>
<div *ngIf=" !loadingPosts && (posts == null || posts.length == 0)">
    <h4 class="center-align" style="color: black">No feed</h4>
    <small class="center-align">Ensure you are have logined into social networks and added authors to category</small>
</div>
<div *ngFor="let post of posts" class="tabCard">
    <div class="cardHeader">
        <a class="publicLink">
            <img [src]="post.Author.Photo.Url" class="miniPhoto">{{post.Author.Name}}</a>
        <a (click)="addToFavorites(post.Author.Source, post.Id, post.Author.Id);
         fav.style.border='1px solid rgb(23, 129, 224)'; fav.style.borderRadius='100%'"
           class="favouriteLink"><img #fav src="content/images/favourite.png" class="ulLink"></a>
    </div>
    <div class="cardContent">
        <p>{{post.Message}}</p>
        <a *ngIf="post?.Attachments[0]?.Link?.Url" [href]="post.Attachments[0].Link.Url">
          <span *ngIf="post?.Attachments[0]?.Link?.Description">
              > {{post?.Attachments[0]?.Link?.Description | truncate:60}}
          </span>
            <span *ngIf="!post?.Attachments[0]?.Link?.Description">
              > {{post?.Attachments[0]?.Link.Url | truncate:40}}
          </span>
        </a>
        <div class="carContentImages">
            <img *ngIf="post?.Attachments[0]?.Photo?.Url" [src]="post.Attachments[0].Photo.Url"
                 class="cardContentImage">
            <img *ngIf="post?.Attachments[0]?.Link?.Photo?.Url" [src]="post.Attachments[0].Link.Photo.Url"
                 class="cardContentImage">
        </div>
    </div>
    <div clas="cardActions">
        <div class="likeContainer">
            <a href="#" class="cardText"><img src="content/images/like.png" class="ulLink">Like</a>
            <span class="cardText">{{post.Likes.Count}}</span>
        </div>
        <span class="postTime">{{post.CreatedTime | date}}</span>
    </div>
</div>