.headMenu {
    margin-top: 1%;
    white-space:nowrap;
}

body {
    min-width: 900px;
}

.headMenu div {
    vertical-align: middle;
    display:inline-block;
}



.headLogo {
    margin-left: 1%;
    
}

.logoImage {
        width: 200px;
        height: 70px;
    }

.miniPhoto {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 100px;
}

.headLinks {
    position: fixed;
    float: right;
    margin-right: 1%;
}
