.regLogContent {
    width: 350px;
}
.exitLink {
    width: 10px;
    height: 10px;
}

.exit {
    text-align: right;
}

.bodyForm {
    margin-top: 20px;
    text-align: center;
}

.materialInput {
    margin-left: 90px;
    width: 180px;
}

.submitButton {
    width: 110px;
    height: 40px;
    margin-top: 50px;
}

.menuLogs {
    display: flex;
    align-items: center;
    justify-content: center;
}