.container {
    border-radius: 20px;
    width: 200px;
}


.exitLink {
    width: 10px;
    height: 10px;
}

.exit {
    text-align: right;
}

.bodyForm {
    margin-top: 20px;
    text-align: center;
}

.materialInput {
    margin-left: 100px;
}

.submitButton {
    width: 110px;
    height: 40px;
    margin-top: 50px;
}