<div class="location">
    <h4 class="locationText">Account Settings</h4>
</div>
<div class="content">
    <div class="mainInfo">
        <div class="profilePhoto">
            <img width="100" height="100" style="border-radius: 100px;" *ngIf="!picUrl" src="content/images/person.png" class="mainPhoto">
            <img width="100" height="100" style="border-radius: 100px;" *ngIf="picUrl" #img [src]="picUrl" class="mainPhoto">

            <br>
            <div class="uploadLink">
                <h5><img (click)="sendPicture()" src="content/images/download_icon.png" class="uploadPhoto">
                </h5><input type="file" #fileInput (change)="fileChange(fileInput)">

            </div>
        </div>
        <form style="
    text-align: right;
    position: relative;
    top: -183px;
    left: -325px;
">
            <div class="data">
                <div class="inputLabel">
                    <h5>Name</h5>
                </div>
                <div class="input-field">
                    <small style="display: block" *ngIf="name.errors">Name must consist from 1 to 35 characters</small>
                    <input placeholder="Name" pattern="[\w\s]{1,35}"
                           [(ngModel)]="user.Name" #name="ngModel"
                           [class.red]="name.errors" [class.lighten-5]="name.errors"
                           name="name" type="text"></div>
                <br>

                <div class="passwordInputLabel">
                    <h5>Password</h5>
                </div>
                <div class="input-field">
                    <small style="display: block" *ngIf="passInput.errors">Password may contain 6..25 digits or chars
                    </small>
                    <input placeholder="Password" pattern="[\w\d]{6,25}"
                           #passInput="ngModel" [(ngModel)]="user.Password"
                           [class.red]="passInput.errors" [class.lighten-5]="passInput.errors"
                           name="password" type="password">
                </div>
                <br>
            </div>
        </form>
    </div>
    <div class="socials">

        <h6 *ngFor="let updProp of updateProps">System has successfully updated {{updProp}}</h6>

        <div>
            <h5>Social networks </h5>
        </div>
        <div class="socialUl">
            <ul>
                <p><input [checked]="isFBConnected" type="checkbox" id="Fb"/>
                    <label for="Fb"><img src="content/images/fb_logo.png" class="ulImage">Facebook</label>
                    <a href="https://www.facebook.com/dialog/oauth?client_id=141340716272867&redirect_uri=http://ufeed.azurewebsites.net/api/social/fbauth&scope=user_likes,user_posts,user_managed_groups"
                       target="_blank"
                       class="ulLink">Manage
                        network</a></p>
                <input type="text" [(ngModel)]="FBToken" placeholder="token"> <input type="button" (click)="activateFB()" value="Authorize">
                <p><input type="checkbox" id="Vk"/>
                    <label for="Vk"><img src="content/images/vk_logo.png" class="ulImage">Vkontakte</label> <a
                                                                                                               class="ulLink">Manage
                        network</a></p>

                <p><a href="#"><img src="content/images/add_icon.png" class="addNewSocial">Add network</a></p>
            </ul>
        </div>
        <br>
        <div class="deactivate">
            <a (click)="deactivateAccount()" style="cursor: pointer"><h5><u>Deactivate account</u></h5></a>
        </div>
        <br>
        <div class="controlPanel">
            <a routerLink="/feed"><img src="content/images/cancel.png" class="controlLink"></a>
            <a (click)="updateProfile(user)"><img src="content/images/save.png" class="controlLink"></a>
        </div>
    </div>
</div>