.headMenu {
    margin-top: 1%;
    white-space:nowrap;
}

body {
    min-width: 900px;
    padding-left: 2%;
    padding-right: 2%;
}

.headMenu div {
    vertical-align: middle;
    display:inline-block;
}


.logoImage {
        width: 160px;
        height: 60px;
    }

.miniPhoto {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 100px;
    vertical-align:middle
}


.arrowImage {
    width: 15px;
    height: 8px;
}

.location {
    background-color: rgb(23, 129, 224);
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 1%;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../font/pt-sans.ttf');
} 

 h4 {
    font-family: 'PT Sans';
    color: white;
}



.locationText {
    margin-left: 5%;
}
